<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : "<%= ENV['FACEBOOK_APP_ID'] %>",
      channelUrl : "<%= url_no_scheme('/channel.html') %>",
      status     : true,
      xfbml      : true
    });

    FB.Canvas.setAutoGrow();

    // Additional initialization code
    <%= yield :fb_init %>
  };

  // Load the SDK asynchronously
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
