<footer class="main-footer">
  <ul class="main-footer-app-links">
    <li><%= link_to 'Home', root_path %></li>
  </ul>
  <ul class="main-footer-required-links">
    <li><%= link_to 'Privacy Policy', privacy_policy_path %></li>
    <li><%= link_to 'Terms of Service', terms_of_service_path %></li>
  </ul>
</footer>
