<p>Hello, <%= current_user.full_name %>.</p>

<p>
  <%= image_tag current_user.profile_picture_url, alt: "Profile picture of #{current_user.full_name}" %>
</p>

<p>
  You have <%= pluralize(current_user.friends.size, 'friend') %>:
</p>

<ul>
  <% current_user.friends.each do |friend| %>
    <li>
      <%= link_to friend['name'], "https://www.facebook.com/#{friend['id']}", target: '_blank' %>
    </li>
  <% end %>
</ul>
