@import "compass";
@import "bootstrap";

$fb-pagetab-width: 810px;

body {
  width: $fb-pagetab-width;
}

/*
 * Main Footer
 */
.main-footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.main-footer-required-links, .main-footer-app-links {
  @include horizontal-list;
}

// Show the required links on the right
.main-footer-required-links {
  float: right;
}
// Show the app links on the left
.main-footer-app-links {
  float: left
}
// Ensure the footer contains the floated elements
.main-footer {
  @include clearfix;
}
